@import "tailwindcss";

:root {
  --primary: #f5ebe0;
  --secondary: #d6ccc2;
  --tertiary: #edede9;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
}

@layer base {
  * {
    @apply border-gray-200;
  }
  body {
    @apply bg-tertiary text-slate-900;
  }
  input {
    @apply border-slate-300 outline-slate-300;
  }
  button {
    @apply cursor-pointer rounded-md px-4 py-2 font-medium tracking-wide;
  }
}

@utility container {
  @apply mx-auto px-4;
}
